/* ==========================================================================
   Primary SCSS file - imports and bundles all other together as one
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  margin-top: 1.33em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.67em; }

p {
  font-size: 16px; }

body {
  width: 100vw;
  max-width: 100%;
  position: relative;
  font-family: "Work Sans", sans-serif;
  color: #464646; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif; }

a {
  text-decoration: none;
  color: #00abd6; }

.a-button {
  background: #00abd6;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: 8px 23px;
  font-size: 20px;
  border-radius: 25px; }

.card {
  border: 1px solid rgba(217, 217, 217, 0.5);
  display: table;
  padding: 10px 20px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .card h2 {
    margin-bottom: 15px; }

.input-field {
  display: table;
  padding: 0px 20px 0px 0px;
  position: relative; }
  .input-field label {
    position: absolute;
    display: block;
    color: #b6b6b6;
    font-size: 18px;
    padding-left: 5px;
    bottom: 10px;
    left: 0px;
    transition: all 0.3s; }
  .input-field input {
    float: left;
    width: 100%;
    font-size: 18px;
    padding: 20px 20px 0px 5px;
    border: none;
    outline: none;
    margin-bottom: 5px; }
  .input-field .underline {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    background: #b6b6b6;
    transition: all 0.3s; }
  .input-field input:focus ~ label {
    color: #464646;
    transform: translateY(-25px);
    font-size: 60%; }
  .input-field input:not(:placeholder-shown) ~ label {
    color: #464646;
    transform: translateY(-25px);
    font-size: 60%; }
  .input-field input:focus ~ .underline {
    height: 1.5px;
    background: #6a6a6a; }

#index header {
  width: 100vw;
  max-width: 100%;
  height: 100px; }
  #index header .container {
    max-width: 1200px;
    height: 70px;
    margin: 0 auto; }
    #index header .container h2 {
      float: left;
      font-size: 40px;
      line-height: 100px;
      margin-left: 20px; }
    #index header .container .a-button {
      float: right;
      margin: 35px 20px 0px 0px; }

#index main {
  width: 100vw;
  max-width: 100%; }

#index #hero {
  height: calc(100vh - 70px);
  position: relative;
  top: 0px;
  width: 100vw;
  max-width: 100%; }
  #index #hero .container {
    width: 80vw;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 28vh;
    text-align: center; }
    #index #hero .container h1 {
      font-size: 70px; }
    #index #hero .container .tagline {
      width: 80vw;
      max-width: 900px;
      margin: 20px auto 0px auto;
      font-size: 25px; }
    #index #hero .container .read-more {
      position: relative;
      width: 80px;
      height: 40px;
      margin: 0 auto;
      margin-top: 50px;
      color: #757575; }
      #index #hero .container .read-more p {
        font-size: 12px; }
      #index #hero .container .read-more span {
        width: 1.5px;
        height: 15px;
        background: #757575;
        display: block;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        bottom: 5px; }
      #index #hero .container .read-more span:nth-of-type(2) {
        width: 10px;
        height: 1px;
        transform: rotate(-55deg);
        left: 6.5px;
        bottom: 9px; }
      #index #hero .container .read-more span:nth-of-type(3) {
        width: 10px;
        height: 1px;
        transform: rotate(55deg);
        left: -6.5px;
        bottom: 9px; }
  #index #hero img {
    position: absolute;
    bottom: -10vh;
    right: 0px;
    height: 45vh;
    width: auto;
    z-index: -1; }

#index #intro {
  width: 90vw;
  max-width: 1200px;
  margin: 50px auto 0px auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  /* keeps all grid boxes same height, else remove */
  grid-gap: 50px; }
  #index #intro > div {
    min-height: 500px; }
  #index #intro .text {
    display: flex;
    align-items: center; }
    #index #intro .text h3 {
      font-size: 35px;
      margin-bottom: 20px; }
    #index #intro .text p {
      font-size: 20px;
      line-height: 29px; }
  #index #intro .image {
    display: flex;
    align-items: center;
    justify-content: center; }
  #index #intro img {
    height: 300px; }
  #index #intro .waste-chart {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center; }
    #index #intro .waste-chart h3 {
      font-size: 35px;
      margin-bottom: 0px; }
    #index #intro .waste-chart p {
      text-align: center;
      font-size: 12px;
      margin-top: 10px; }
  #index #intro .research-state {
    display: flex;
    /* establish flex container */
    flex-direction: column;
    /* make main axis vertical */
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center; }
    #index #intro .research-state .timeline {
      margin-top: 18px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 1fr;
      /* keeps all grid boxes same height, else remove */
      grid-gap: 10px;
      position: relative;
      width: 300px; }
      #index #intro .research-state .timeline > p {
        grid-column: span 2; }
      #index #intro .research-state .timeline > p.state {
        grid-column: span 3; }
      #index #intro .research-state .timeline .check {
        height: 22px;
        width: 22px;
        border: 1px solid #eeeeee;
        border-radius: 50%;
        background: white;
        position: relative; }
        #index #intro .research-state .timeline .check span {
          display: block;
          position: absolute;
          bottom: 0px;
          right: 0px;
          margin: auto;
          height: 13px;
          width: 2px;
          background: white;
          transform: rotate(32deg);
          top: 0px;
          left: 3px;
          z-index: 2; }
        #index #intro .research-state .timeline .check span:last-of-type {
          height: 6px;
          transform: rotate(-35deg);
          top: 3px;
          left: -7px; }
        #index #intro .research-state .timeline .check > div {
          height: 0px;
          width: 0px;
          border-radius: 50%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: 0px;
          left: 0px;
          margin: auto;
          z-index: 1;
          background: rgba(0, 0, 0, 0);
          transition: height 0.3s, width 0.3s, background 0.3s; }
      #index #intro .research-state .timeline .check.active > div {
        height: 22px;
        width: 22px;
        background: #33c04a; }
    #index #intro .research-state .line {
      position: absolute;
      left: -70px;
      right: 0px;
      top: 10px;
      width: 1px;
      background: grey;
      height: 0px;
      margin: 0 auto;
      transition: all 4s;
      z-index: -2; }

#index #donate {
  text-align: center;
  margin-top: 130px; }
  #index #donate h2 {
    font-family: "Work Sans", sans-serif;
    font-size: 35px; }
  #index #donate p {
    font-size: 25px;
    margin-top: 20px; }
  #index #donate a {
    margin-top: 60px;
    font-size: 30px;
    border-radius: 40px;
    padding: 12px 45px; }

#index #newsletter {
  text-align: center;
  margin-top: 180px; }
  #index #newsletter h3 {
    font-family: "Work Sans", sans-serif;
    font-size: 25px; }
  #index #newsletter .input-field {
    margin: 0 auto;
    margin-top: 10px;
    width: 480px; }
    #index #newsletter .input-field input {
      font-size: 25px;
      padding: 40px 20px 0px 5px; }
    #index #newsletter .input-field label {
      font-size: 25px; }
    #index #newsletter .input-field input:focus ~ label {
      color: #464646;
      transform: translateY(-40px);
      font-size: 20px; }
    #index #newsletter .input-field input:not(:placeholder-shown) ~ label {
      color: #464646;
      transform: translateY(-40px);
      font-size: 20px; }
  #index #newsletter .submit-button {
    margin-top: 40px;
    background: white;
    color: #454545;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    padding: 8px 25px;
    font-size: 20px;
    border-radius: 25px;
    border: 1px solid #707070; }

#index #featured {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 120px; }
  #index #featured h3 {
    font-size: 35px;
    color: #b2b2b2; }
  #index #featured img {
    padding-top: 20px;
    width: 75vw;
    max-width: 1000px;
    margin: 0 auto;
    display: block; }

#index footer {
  margin-top: 100px;
  width: 100vw;
  max-width: 100%;
  height: 250px;
  background: #e5e5e5;
  position: relative; }
  #index footer .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    /* keeps all grid boxes same height, else remove */
    grid-gap: 50px;
    height: 250px; }
    #index footer .container > div {
      color: grey;
      display: flex;
      /* establish flex container */
      flex-direction: column;
      /* make main axis vertical */
      justify-content: center;
      /* center items vertically, in this case */
      align-items: center; }
    #index footer .container p {
      font-size: 18px;
      line-height: 30px; }
    #index footer .container a {
      font-size: 18px;
      color: #464646; }
  #index footer .copyright {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    color: #969696; }
  #index footer .login {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 25px;
    color: #464646; }
  #index footer .research {
    text-align: center; }

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */
@media (max-width: 1199px) {
  #index #hero .container {
    padding-top: 22vh; }
    #index #hero .container h1 {
      font-size: 50px; }
  #index #intro > div {
    min-height: 450px; }
  #index #intro img {
    height: 240px; }
  #index #intro .text h3 {
    font-size: 30px; }
  #index #intro .text p {
    font-size: 16px;
    line-height: 27px; }
  #index #intro .waste-chart h3 {
    font-size: 30px;
    margin-bottom: 0px; }
  #index #donate {
    margin-top: 110px; }
    #index #donate h2 {
      font-size: 30px; }
    #index #donate p {
      font-size: 20px;
      margin-top: 20px; }
    #index #donate a {
      margin-top: 60px;
      font-size: 23px;
      border-radius: 40px;
      padding: 12px 35px; }
  #index #newsletter {
    margin-top: 155px; }
    #index #newsletter h3 {
      font-size: 20px; }
    #index #newsletter .input-field {
      margin: 0 auto;
      margin-top: 10px;
      width: 360px; }
      #index #newsletter .input-field input {
        font-size: 20px;
        padding: 40px 20px 0px 5px; }
      #index #newsletter .input-field label {
        font-size: 20px; }
      #index #newsletter .input-field input:focus ~ label {
        transform: translateY(-30px);
        font-size: 12px; }
      #index #newsletter .input-field input:not(:placeholder-shown) ~ label {
        transform: translateY(-30px);
        font-size: 12px; }
    #index #newsletter .submit-button {
      padding: 5px 20px;
      font-size: 16px; }
  #index #featured h3 {
    font-size: 25px;
    color: #b2b2b2; }
  #index footer {
    height: 200px; }
    #index footer .container {
      grid-gap: 30px;
      height: 200px; }
      #index footer .container p {
        font-size: 16px;
        line-height: 23px; }
      #index footer .container a {
        font-size: 16px;
        color: #464646; }
    #index footer .copyright {
      font-size: 12px !important; } }

@media (max-width: 767px) {
  #index #hero .container h1 {
    font-size: 30px; }
  #index #hero .container .tagline {
    width: 80vw;
    max-width: 900px;
    margin: 20px auto 0px auto;
    font-size: 20px; }
  #index #hero img {
    right: -100px; }
  #index #intro {
    width: 90vw;
    max-width: 90vw;
    margin: 50px auto 0px auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    /* fit to each div size */
    grid-gap: 10px; }
    #index #intro > div {
      min-height: 280px;
      max-width: 90vw; }
    #index #intro .image {
      margin-bottom: 65px; }
    #index #intro .text {
      display: block; }
    #index #intro .bottle {
      grid-row: 4 / 5; }
    #index #intro .microscope {
      grid-row: 8 / 9;
      margin-bottom: 0px; }
    #index #intro img {
      height: 170px; }
  #index #donate {
    width: 90vw;
    margin: 0 auto;
    margin-top: 110px; }
  #index #newsletter .input-field {
    margin: 0 auto;
    margin-top: 10px;
    width: 85vw; }
  #index #index #featured img {
    width: 90vw; }
  #index footer {
    height: 230px; }
    #index footer .container {
      grid-gap: 30px;
      height: 230px;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: minmax(min-content, max-content); }
      #index footer .container > div {
        min-height: 75px; }
      #index footer .container .address,
      #index footer .container .contact {
        grid-column: span 2;
        grid-row: 1 / 2; }
      #index footer .container .research {
        grid-column: span 4;
        grid-row: 2 / 3; }
    #index footer .login {
      bottom: 40px; } }

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */
strong {
  font-weight: 500; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.hide {
  display: none; }
