//Mini

// STEP 1
#step-1 {
  width: 100vw;
  max-width: 100%;
  position: relative;
  min-height: 100vh;

  .steps-counter {
    margin: 30px;
    .container {
      position: relative;
      width: 50vw;
      height: 30px;
      margin: 0 auto;

      .line {
        position: relative;
        width: 100%;
        height: 1px;
        background: #9c9c9c;
        top: 25px;
      }

      .step {
        position: absolute;
        top: 0px;
        left: -10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #9c9c9c;
        text-align: center;
        background: white;
        cursor: pointer;
        a {
          display: inline-block;
          line-height: 50px;
          color: $black;
          height: 50px;
          width: 50px;

          font-size: 1.8em;
        }
      }
      .step:nth-of-type(3) {
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
      .step:last-of-type {
        right: -10px;
        left: auto;
      }

      .step.active {
        background: $blue;
        a {
          color: white;
        }
      }
    }
  }

  .go-back {
    font-size: 20px;
  }

  .background {
    #whole-background-img {
      display: none;
    }
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    > div {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
    }
    img {
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .donate-grid {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

    .card {
      z-index: 20;
      height: 70vh;
      width: 25vw;
      background-color: white;

      display: block;
      justify-self: center;

      p {
        font-size: 1.4em;
      }

      /* strong {
        font-size: 1.4em;
      } */

      h2 {
        font-size: 2em;
      }

      .donate-header {
        margin-top: 0.4vh;
      }

      #recentdonors {
        h2 {
          border-bottom: 1px solid black;
          margin-bottom: 2vh;
          border-collapse: separate;
          border-spacing: 15px 50px;
          margin-left: 0.4vw;
          margin-top: 0.4vh;
        }
      }
      #recentdonors-grid {
        margin-bottom: 3vw;

        display: grid;
        grid-template-columns: 70% 30%;
      }

      #topdonors {
        h2 {
          border-bottom: 1px solid black;
          margin-bottom: 2vh;
          border-collapse: separate;
          border-spacing: 15px 50px;
        }
      }

      #topdonors-grid {
        margin-bottom: 3vw;

        display: grid;
        grid-template-columns: 70% 30%;
      }

      .card-content2 {
        text-align: end;
      }

      #contentdiv {
        height: 90%;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        #donatemoney {
          text-align: center;

          .a-button {
            margin: 0 auto;
            font-size: 1.8em;
            padding: 14px 23px;
            border-radius: 50px;
          }
        }
      }
    }

    p {
      margin-bottom: 40px;
    }
  }

  .slidecontainer {
    width: 100%;
    position: relative;

    input[name="rangeSlider"] {
      width: 60%;
      margin: 0;
    }
    .amount {
      width: 390px;
      margin: 0 auto;
      margin-bottom: 20px;
      position: relative;
      input,
      p {
        display: inline-block;
      }
      input {
        width: 200px;
        font-size: 60px;
        padding: 0px 0px 0px 5px;
        border: none;
        outline: none;
        margin-bottom: 0px;
        position: relative;
        z-index: 11;
        background: rgba(0, 0, 0, 0);
        text-align: right;
      }
      p {
        font-size: 50px;
        margin-bottom: 10px;
      }
      .line {
        height: 1px;
        width: 50%;
        background: rgb(214, 214, 214);
        margin: 0 auto;
      }
    }
  }

  .slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: $blue;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    input {
      margin-top: 4vh;
    }
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .type {
    margin: 5vh 0vw;
    margin-top: 5vh;
    display: inline-block;
    margin: 5vh auto 0vh auto;
    input,
    p,
    .dropdown {
      float: left;
      padding: 0px 5px;
      font-size: 16px;
    }

    .dropdown {
      position: relative;
      height: 25px;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s;

      ul {
        padding-top: 2px;
        padding-right: 10px;
      }
      li {
        padding: 0px 2px 5px 2px;
        transition: all 0.3s;
        font-size: 22px;
      }
      li:hover {
        background: lightblue;
      }

      .line {
        position: absolute;
        top: 24px;
        height: 1px;
        width: 100%;
        background: black;
        transition: 0.3s;
      }
      .arrow {
        position: absolute;
        right: 1px;
        top: 7px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

// STEP 2
#step-2 {
  width: 100vw;
  max-width: 100%;
  position: relative;
  min-height: 100vh;

  .steps-counter {
    margin: 30px;
    .container {
      position: relative;
      width: 50vw;
      height: 30px;
      margin: 0 auto;

      .line {
        position: relative;
        width: 100%;
        height: 1px;
        background: #9c9c9c;
        top: 25px;
      }

      .step {
        position: absolute;
        top: 0px;
        left: -10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #9c9c9c;
        text-align: center;
        background: white;
        cursor: pointer;
        a {
          display: inline-block;
          line-height: 50px;
          color: $black;
          height: 50px;
          width: 50px;

          font-size: 1.8em;
        }
      }
      .step:nth-of-type(3) {
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
      .step:last-of-type {
        right: -10px;
        left: auto;
      }

      .step.active {
        background: $blue;
        a {
          color: white;
        }
      }
    }
  }

  .go-back {
    font-size: 20px;
  }

  .background {
    #whole-background-img {
      display: none;
    }
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    > div {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
    }
    img {
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  #payment-grid {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

    .card {
      input p {
        font-size: 1.2em;
      }

      h2 {
        font-size: 2em;
      }

      input {
        font-size: 1.6em;
      }

      z-index: 20;
      height: 70vh;
      width: 25vw;
      background-color: white;

      display: block;
      justify-self: center;
    }

    #subcheckbox {
      color: #b6b6b6;
    }

    #monthyear-grid {
      display: grid;
      grid-gap: 10px 100px;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
    }

    #paypalbox {
      #subcheckbox {
        margin-top: 5vh;
      }
    }
  }

  #end {
    margin: 0 auto;
    text-align: center;
  }

  .error-message {
    font-size: 0.9em;
  }

  .submit {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 1.8em;
    padding: 14px 23px;
    border-radius: 50px;

    background: #00abd6;
    color: white;
    display: inline-block;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
  }
}

// STEP 3
#step-3 {
  width: 100vw;
  max-width: 100%;
  position: relative;
  min-height: 100vh;

  .steps-counter {
    padding: 50px 0px 40px 0px;
    .container {
      position: relative;
      width: 50vw;
      height: 30px;
      margin: 0 auto;

      .line {
        position: relative;
        width: 100%;
        height: 1px;
        background: #9c9c9c;
        top: 25px;
      }

      .step {
        position: absolute;
        top: 0px;
        left: -10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 1px solid #9c9c9c;
        text-align: center;
        background: white;
        cursor: pointer;
        a {
          display: inline-block;
          line-height: 50px;
          color: $black;
          height: 50px;
          width: 50px;

          font-size: 1.8em;
        }
      }
      .step:nth-of-type(3) {
        left: 0px;
        right: 0px;
        margin: 0 auto;
      }
      .step:last-of-type {
        right: -10px;
        left: auto;
      }

      .step.active {
        background: $blue;
        a {
          color: white;
        }
      }
    }
  }

  .go-back {
    font-size: 20px;
    margin-top: 3vh;
    margin: 0 auto;
    text-align: center;
    display: block;
  }

  .background {
    #whole-background-img {
      display: none;
    }
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    > div {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
    }
    img {
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  #backtopoly {
    text-align: center;
    margin-top: 2vh;
  }
  .card {
    margin: 0 auto;
    text-align: center;
    background: white;
    margin-bottom: 3vh;

    height: auto;
    width: 70vw;

    p {
      margin: 0 auto;
      text-align: center;
      font-size: 1.3em;
      max-width: 30vw;
    }

    #step-3-header {
      font-size: 3em;
    }

    #thankyoutext {
      margin-bottom: 2vh;
    }

    #uptodate {
      margin-top: 2vh;
      margin-bottom: 1.5vh;
    }

    .input-field {
      margin: 0 auto;
      margin-bottom: 2vh;
    }

    .a-button {
      margin: 0 auto;
      margin-bottom: 2vh;
      margin-top: 2vh;
      font-size: 1.6em;
      padding: 14px 23px;
      border-radius: 50px;
    }

    img {
      width: 15%;
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #step-1 {
    .donate-grid {
      .card {
        width: 35vw;
        h2 {
          font-size: 1.6em;
        }
      }
    }
  }

  #step-2 {
    #payment-grid {
      .card {
        width: 35vw;
        h2 {
          font-size: 1.6em;
        }
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #step-1 {
    .steps-counter {
      .container {
        width: 80vw;
      }
    }

    .go-back {
      margin: 0 auto;
      text-align: center;
      display: block;
    }
    .background {
      #whole-background-img {
        display: block;
      }

      #half-background-img {
        display: none;
      }
    }
    .donate-grid {
      grid-template-columns: repeat(1, 1fr);
      .card {
        width: 70vw;
        height: 70vh;
        h2 {
          font-size: 2em;
        }
      }
    }
  }

  #step-2 {
    .steps-counter {
      .container {
        width: 80vw;
      }
    }

    .go-back {
      margin: 0 auto;
      text-align: center;
      display: block;
    }

    .background {
      #whole-background-img {
        display: block;
      }

      #half-background-img {
        display: none;
      }
    }
    #payment-grid {
      grid-template-columns: repeat(1, 1fr);
      .card {
        width: 70vw;
        height: 70vh;
        h2 {
          font-size: 2em;
        }
      }

      #paymentCard {
        height: auto;
        min-height: 70vh;
      }
    }
  }

  #step-3 {
    .steps-counter {
      .container {
        width: 80vw;
      }
    }

    .background {
      #whole-background-img {
        display: block;
      }

      #half-background-img {
        display: none;
      }
    }
    .card {
      height: 70vh;
      p {
        max-width: 69vw;
        font-size: 1.2em;
      }

      #step-3-header {
        font-size: 2.7em;
      }

      img {
        width: 45%;
      }

      .input-field {
        margin-bottom: 3vh;
      }

      .a-button {
        font-size: 1.2em;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #step-1 {
    .donate-grid {
      .card {
        h2 {
          font-size: 1.4em;
        }

        p {
          font-size: 1.1em;
        }
      }
    }
  }

  #step-2 {
    #payment-grid {
      .card {
        h2 {
          font-size: 1.4em;
        }
      }
    }
  }
}
