//Mini

// STEP 1
#step-1 {
  .donate-grid {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

    .card {
      height: 60vh;
      width: 20vw;

      display: block;
      justify-self: center;

      p {
        font-size: 1.2vw;
      }

      #recentdonors {
        h2 {
          border-bottom: 1px solid black;
        }
      }
      .recentdonors-grid {
        margin-bottom: 3vw;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      #topdonors {
        h2 {
          border-bottom: 1px solid black;
        }
      }

      .topdonors-grid {
        margin-bottom: 3vw;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      .card-content2 {
        text-align: end;
      }

      #contentdiv {
        height: 90%;

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        #donatemoney {
          text-align: center;
          .slidecontainer {
            p {
              font-size: 5vw;
              margin-bottom: 20px;
            }

            input {
              width: 100%;
              margin: 0;
            }
          }

          .a-button {
            margin: 0 auto;
          }
        }
      }
    }

    p {
      margin-bottom: 40px;
    }
  }

  .slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: gray;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .type {
    margin: 5vh 0vw;
    input,
    p,
    .dropdown {
      float: left;
      padding: 0px 5px;
      font-size: 16px !important;
    }

    .dropdown {
      position: relative;
      height: 20px;
      overflow: hidden;
      display: inline-block;
      cursor: pointer;
      transition: all 0.3s;

      ul {
        padding-right: 10px;
      }
      li {
        padding: 2px 2px 5px 2px;
        transition: all 0.3s;
      }
      li:hover {
        background: lightblue;
      }

      .line {
        position: absolute;
        top: 19px;
        height: 1px;
        width: 100%;
        background: black;
      }
      .arrow {
        position: absolute;
        right: 1px;
        top: 2px;
        border: solid black;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}

// STEP 2
#step-2 {
  #payment-grid {
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;

    .card {
      p {
        font-size: 1.2vw;
      }

      height: 60vh;
      width: 20vw;

      display: block;
      justify-self: center;
    }

    #subcheckbox {
      color: #b6b6b6;
    }

    #monthyear-grid {
      display: grid;
      grid-gap: 10px 100px;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px;
    }

    #paypalbox {
      #subcheckbox {
        margin-top: 5vh;
      }
    }
  }

  #end {
    margin: 0 auto;
    text-align: center;
  }

  .a-button {
    margin-bottom: 1vh;
  }
}

// STEP 3
#step-3 {
  #backtopoly {
    text-align: center;
    margin-top: 2vh;
  }
  .card {
    margin: 0 auto;
    text-align: center;

    width: 70vw;

    p {
      margin: 0 auto;
      text-align: center;
      font-size: 1.5vw;
      max-width: 40vw;
    }

    #step-3-header {
      font-size: 6vw;
    }

    #thankyoutext {
      margin-bottom: 2vh;
    }

    #uptodate {
      margin-top: 2vh;
      margin-bottom: 1.5vh;
    }

    .input-field {
      margin: 0 auto;
    }

    .a-button {
      margin-top: 1.8vh;
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  #donate {
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #donate {
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #donate {
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #donate {
  }
}
