//Lars
#index {
  //HEADER
  header {
    width: 100vw;
    max-width: 100%;
    height: 100px;
    .container {
      max-width: 1200px;
      height: 70px;
      margin: 0 auto;
      h2 {
        float: left;
        font-size: 40px;
        line-height: 100px;
        margin-left: 20px;
      }
      .a-button {
        float: right;
        margin: 35px 20px 0px 0px;
      }
    }
  }

  main {
    width: 100vw;
    max-width: 100%;
  }

  #hero {
    height: calc(100vh - 70px);
    position: relative;
    top: 0px;
    width: 100vw;
    max-width: 100%;
    .container {
      width: 80vw;
      max-width: 900px;
      margin: 0 auto;
      padding-top: 28vh;
      text-align: center;

      h1 {
        font-size: 70px;
      }
      .tagline {
        width: 80vw;
        max-width: 900px;
        margin: 20px auto 0px auto;
        font-size: 25px;
      }
      .read-more {
        position: relative;
        width: 80px;
        height: 40px;
        margin: 0 auto;
        margin-top: 50px;
        color: #757575;
        p {
          font-size: 12px;
        }
        span {
          width: 1.5px;
          height: 15px;
          background: #757575;
          display: block;
          position: absolute;
          left: 0px;
          right: 0px;
          margin: 0 auto;
          bottom: 5px;
        }
        span:nth-of-type(2) {
          width: 10px;
          height: 1px;
          transform: rotate(-55deg);
          left: 6.5px;
          bottom: 9px;
        }
        span:nth-of-type(3) {
          width: 10px;
          height: 1px;
          transform: rotate(55deg);
          left: -6.5px;
          bottom: 9px;
        }
      }
    }
    img {
      position: absolute;
      bottom: -10vh;
      right: 0px;
      height: 45vh;
      width: auto;
      z-index: -1;
    }
  }

  #intro {
    width: 90vw;
    max-width: 1200px;
    margin: 50px auto 0px auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
    grid-gap: 50px;

    > div {
      min-height: 500px;
    }
    .text {
      display: flex;
      align-items: center;
      h3 {
        font-size: 35px;
        margin-bottom: 20px;
      }
      p {
        font-size: 20px;
        line-height: 29px;
      }
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: 300px;
    }

    .waste-chart {
      display: flex; /* establish flex container */
      flex-direction: column; /* make main axis vertical */
      justify-content: center; /* center items vertically, in this case */
      align-items: center;
      h3 {
        font-size: 35px;
        margin-bottom: 0px;
      }
      p {
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
      }
    }

    .research-state {
      display: flex; /* establish flex container */
      flex-direction: column; /* make main axis vertical */
      justify-content: center; /* center items vertically, in this case */
      align-items: center;

      .timeline {
        margin-top: 18px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
        grid-gap: 10px;
        position: relative;
        width: 300px;

        > p {
          grid-column: span 2;
        }

        > p.state {
          grid-column: span 3;
        }

        .check {
          height: 22px;
          width: 22px;
          border: 1px solid rgb(238, 238, 238);
          border-radius: 50%;
          background: white;
          position: relative;

          span {
            display: block;
            position: absolute;
            bottom: 0px;
            right: 0px;
            margin: auto;
            height: 13px;
            width: 2px;
            background: white;
            transform: rotate(32deg);
            top: 0px;
            left: 3px;
            z-index: 2;
          }
          span:last-of-type {
            height: 6px;
            transform: rotate(-35deg);
            top: 3px;
            left: -7px;
          }

          > div {
            height: 0px;
            width: 0px;
            border-radius: 50%;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            margin: auto;
            z-index: 1;
            background: rgba(0, 0, 0, 0);
            transition: height 0.3s, width 0.3s, background 0.3s;
          }
        }
        .check.active {
          > div {
            height: 22px;
            width: 22px;
            background: #33c04a;
          }
        }
      }

      .line {
        position: absolute;
        left: -70px;
        right: 0px;
        top: 10px;
        width: 1px;
        background: grey;
        height: 0px;
        margin: 0 auto;
        transition: all 4s;
        z-index: -2;
      }
    }
  }

  #donate {
    text-align: center;
    margin-top: 130px;

    h2 {
      font-family: "Work Sans", sans-serif;
      font-size: 35px;
    }

    p {
      font-size: 25px;
      margin-top: 20px;
    }

    a {
      margin-top: 60px;
      font-size: 30px;
      border-radius: 40px;
      padding: 12px 45px;
    }
  }

  #newsletter {
    text-align: center;
    margin-top: 180px;
    h3 {
      font-family: "Work Sans", sans-serif;
      font-size: 25px;
    }
    .input-field {
      margin: 0 auto;
      margin-top: 10px;
      width: 480px;
      input {
        font-size: 25px;
        padding: 40px 20px 0px 5px;
      }
      label {
        font-size: 25px;
      }
      input:focus ~ label {
        color: $black;
        transform: translateY(-40px);
        font-size: 20px;
      }
      input:not(:placeholder-shown) ~ label {
        color: $black;
        transform: translateY(-40px);
        font-size: 20px;
      }
    }

    .submit-button {
      margin-top: 40px;
      background: white;
      color: #454545;
      display: inline-block;
      font-family: "Raleway", sans-serif;
      padding: 8px 25px;
      font-size: 20px;
      border-radius: 25px;
      border: 1px solid #707070;
    }
  }

  #featured {
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    h3 {
      font-size: 35px;
      color: #b2b2b2;
    }
    img {
      padding-top: 20px;
      width: 75vw;
      max-width: 1000px;
      margin: 0 auto;
      display: block;
    }
  }

  footer {
    margin-top: 100px;
    width: 100vw;
    max-width: 100%;
    height: 250px;
    background: #e5e5e5;
    position: relative;

    .container {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr; /* keeps all grid boxes same height, else remove */
      grid-gap: 50px;
      height: 250px;

      > div {
        color: grey;
        display: flex; /* establish flex container */
        flex-direction: column; /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;
      }
      p {
        font-size: 18px;
        line-height: 30px;
      }
      a {
        font-size: 18px;
        color: $black;
      }
    }
    .copyright {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 10px;
      margin: 0 auto;
      text-align: center;
      color: #969696;
    }
    .login {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 25px;
      color: $black;
    }
    .research {
      text-align: center;
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  #index {
    #hero .container {
      padding-top: 22vh;
      h1 {
        font-size: 50px;
      }
    }

    #intro {
      > div {
        min-height: 450px;
      }

      img {
        height: 240px;
      }
      .text h3 {
        font-size: 30px;
      }
      .text p {
        font-size: 16px;
        line-height: 27px;
      }
      .waste-chart h3 {
        font-size: 30px;
        margin-bottom: 0px;
      }
    }

    #donate {
      margin-top: 110px;
      h2 {
        font-size: 30px;
      }
      p {
        font-size: 20px;
        margin-top: 20px;
      }
      a {
        margin-top: 60px;
        font-size: 23px;
        border-radius: 40px;
        padding: 12px 35px;
      }
    }

    #newsletter {
      margin-top: 155px;
      h3 {
        font-size: 20px;
      }
      .input-field {
        margin: 0 auto;
        margin-top: 10px;
        width: 360px;
        input {
          font-size: 20px;
          padding: 40px 20px 0px 5px;
        }
        label {
          font-size: 20px;
        }
        input:focus ~ label {
          transform: translateY(-30px);
          font-size: 12px;
        }
        input:not(:placeholder-shown) ~ label {
          transform: translateY(-30px);
          font-size: 12px;
        }
      }
      .submit-button {
        padding: 5px 20px;
        font-size: 16px;
      }
    }

    #featured h3 {
      font-size: 25px;
      color: #b2b2b2;
    }

    footer {
      height: 200px;
      .container {
        grid-gap: 30px;
        height: 200px;
        p {
          font-size: 16px;
          line-height: 23px;
        }
        a {
          font-size: 16px;
          color: #464646;
        }
      }
      .copyright {
        font-size: 12px !important;
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #index {
    //write everything that applies to the index page inside here
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #index {
    #hero {
      .container {
        h1 {
          font-size: 30px;
        }
        .tagline {
          width: 80vw;
          max-width: 900px;
          margin: 20px auto 0px auto;
          font-size: 20px;
        }
      }
      img {
        right: -100px;
      }
    }

    #intro {
      width: 90vw;
      max-width: 90vw;
      margin: 50px auto 0px auto;
      position: relative;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: minmax(
        min-content,
        max-content
      ); /* fit to each div size */
      grid-gap: 10px;

      > div {
        min-height: 280px;
        max-width: 90vw;
      }
      .image {
        margin-bottom: 65px;
      }
      .text {
        display: block;
      }
      .bottle {
        grid-row: 4 / 5;
      }
      .microscope {
        grid-row: 8 / 9;
        margin-bottom: 0px;
      }
      img {
        height: 170px;
      }
    }
    #donate {
      width: 90vw;
      margin: 0 auto;
      margin-top: 110px;
    }

    #newsletter .input-field {
      margin: 0 auto;
      margin-top: 10px;
      width: 85vw;
    }

    #index #featured img {
      width: 90vw;
    }
    footer {
      height: 230px;
      .container {
        grid-gap: 30px;
        height: 230px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
        > div {
          min-height: 75px;
        }
        .address,
        .contact {
          grid-column: span 2;
          grid-row: 1 / 2;
        }
        .research {
          grid-column: span 4;
          grid-row: 2 / 3;
        }
      }
      .login {
        bottom: 40px;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #index {
    //write everything that applies to the index page inside here
  }
}
