//Define global color variables or color schemes inside here
$blue: #00abd6; //button blue
$black: #464646; //font black

$grey_line: #707070; //used for input fields and section divider
$grey_input: #707070; //input placeholder
$grey_background: #f6f6f6; //grey background, mostly used dashboard
