//Define Global speicific styling

//buttons
.a-button {
  background: $blue;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  padding: 8px 23px;
  font-size: 20px;
  border-radius: 25px;
}

//Box background for checkout etc.
.card {
  border: 1px solid rgba(217, 217, 217, 0.5);
  display: table;
  padding: 10px 20px;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  > h2 {
    margin-bottom: 15px;
  }
  .card-content {
  }
}

//Input fields with float
.input-field {
  display: table;
  padding: 0px 0px 0px 0px;
  position: relative;
  background: white;
  label {
    position: absolute;
    display: block;
    color: #b6b6b6;
    font-size: 18px;
    padding-left: 5px;
    bottom: 10px;
    left: 0px;
    transition: all 0.3s;
    z-index: 10;
  }
  input {
    float: left;
    width: 100%;
    font-size: 18px;
    padding: 20px 0px 0px 5px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    position: relative;
    z-index: 11;
    background: rgba(0, 0, 0, 0);
  }
  .underline {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    background: #b6b6b6;
    transition: all 0.3s;
  }
  input:focus ~ label {
    color: $black;
    transform: translateY(-25px);
    font-size: 80%;
  }
  input:not(:placeholder-shown) ~ label {
    color: $black;
    transform: translateY(-25px);
    font-size: 80%;
  }

  input:focus ~ .underline {
    height: 1.5px;
    background: #6a6a6a;
  }
}

//Text-area fields
.text-area {
  display: table;
  padding: 0px 0px 0px 0px;
  position: relative;
  background: white;

  label {
    position: absolute;
    display: block;
    color: #b6b6b6;
    font-size: 18px;
    padding-left: 5px;
    top: 24px;
    left: 0px;
    transition: all 0.3s;
    z-index: 10;
  }

  textarea {
    float: left;
    width: 100%;
    font-size: 18px;
    padding: 20px 0px 0px 5px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    position: relative;
    z-index: 11;
    background: rgba(0, 0, 0, 0);
    font-family: "Work Sans", sans-serif;
  }
  .underline {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0px;
    background: #b6b6b6;
    transition: all 0.3s;
  }

  textarea:focus ~ label {
    color: $black;
    transform: translateY(-17px);
    font-size: 60%;
  }
  textarea:not(:placeholder-shown) ~ label {
    color: $black;
    transform: translateY(-17px);
    font-size: 60%;
  }

  textarea:focus ~ .underline {
    height: 1.5px;
    background: #6a6a6a;
  }
}

.submit-button {
  margin-top: 10px;
  background: $blue;
  color: white;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  padding: 8px 25px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
}

.list {
  width: calc(100% - 90px);
  margin-top: 20px;
  margin-left: 30px;
  header {
    height: 40px;
    width: 100%;
    .search {
      float: left;
      .input-field {
        background: none;
        width: 300px;
        label {
          left: 20px;
        }
        .magnifier {
          height: 12px;
          position: absolute;
          display: block;
          padding-left: 5px;
          bottom: 12px;
          left: 0px;
          transition: all 0.3s;
          z-index: 10;
          path {
            fill: #afafaf;
          }
        }
        input:focus ~ .magnifier {
          transform: translateY(-25px);
          height: 10px;
        }
        input:not(:placeholder-shown) ~ .magnifier {
          transform: translateY(-25px);
          height: 10px;
        }

        input:focus ~ .magnifier > path {
          fill: $black;
        }
        input:not(:placeholder-shown) ~ .magnifier > path {
          fill: $black;
        }
      }
    }
    .filter {
      float: right;
      p {
        display: inline-block;
        padding-right: 10px;
      }
      select {
        display: inline-block;
      }
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  th {
    text-align: center;
    padding: 15px 8px;
    color: #c3c3c3;
    min-width: 20%;
    border-bottom: 1px solid #dedede;
    &.active {
      background: lightblue;
      color: #5a5a5a;
      font-weight: 500;
    }
  }
  td {
    text-align: center;
    padding: 25px 8px 20px 8px;
    min-width: 20%;
    border-bottom: 1px solid #dedede;
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  .list {
    width: calc(100% - 90px);
    margin-top: 20px;
    margin-left: 20px;
    header {
      height: 30px;
      width: 100%;
      .search {
        .input-field {
          width: 250px;
          input {
            font-size: 14px;
            padding: 10px 0px 0px 5px;
            margin-bottom: 5px;
          }
          label {
            left: 15px;
            font-size: 14px;
          }
          .magnifier {
            height: 10px;
            padding-left: 5px;
            bottom: 12px;
            left: 0px;
          }

          input:focus ~ .magnifier {
            transform: translateY(-15px);
            height: 8px;
          }
          input:not(:placeholder-shown) ~ .magnifier {
            transform: translateY(-15px);
            height: 8px;
          }

          input:focus ~ label {
            transform: translateY(-17px);
            font-size: 10px;
          }
          input:not(:placeholder-shown) ~ label {
            transform: translateY(-17px);
            font-size: 10px;
          }
        }
      }
      .filter {
        float: right;
        p {
          display: inline-block;
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }
    table {
      margin-top: 20px;
    }
    th {
      padding: 10px 8px;
      font-size: 14px;
    }
    td {
      font-size: 14px;
      padding: 25px 8px 20px 8px;
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .list {
    width: calc(100% - 50px);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 8px;
    header {
      height: 30px;
      width: 100%;
      .search {
        .input-field {
          width: 160px;
          input {
            font-size: 14px;
            padding: 10px 0px 0px 5px;
            margin-bottom: 5px;
          }
          label {
            left: 15px;
            font-size: 14px;
          }
          .magnifier {
            height: 10px;
            padding-left: 5px;
            bottom: 12px;
            left: 0px;
          }

          input:focus ~ .magnifier {
            transform: translateY(-15px);
            height: 8px;
          }
          input:not(:placeholder-shown) ~ .magnifier {
            transform: translateY(-15px);
            height: 8px;
          }

          input:focus ~ label {
            transform: translateY(-17px);
            font-size: 10px;
          }
          input:not(:placeholder-shown) ~ label {
            transform: translateY(-17px);
            font-size: 10px;
          }
        }
      }
      .filter {
        display: none;
        float: right;
        p {
          display: inline-block;
          padding-right: 10px;
          font-size: 14px;
        }
      }
    }
    table {
      margin-top: 20px;
    }
    th {
      padding: 8px 4px;
      font-size: 12px;
    }
    td {
      font-size: 12px;
      padding: 20px 5px 20px 5px;
    }
  }
}
