#login {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;

  .background {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -100;
    > div {
      position: relative;
      bottom: 0;
      left: 0;
      width: 100vw;
      max-width: 100%;
      height: 100vh;
    }
    img {
      height: 100vh;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .container {
    width: 350px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;

    h2 {
      font-size: 35px;
      text-align: center;
    }
    form {
      margin-top: 70px;
      .input-field {
        display: table;
        padding: 0px 0px 0px 0px;
        position: relative;
        background: rgba(0, 0, 0, 0);
        width: 100%;
        margin-top: 20px;

        label {
          position: absolute;
          display: block;
          color: #b6b6b6;
          font-size: 25px;
          padding-left: 5px;
          bottom: 10px;
          left: 0px;
          transition: all 0.3s;
          z-index: 10;
        }
        input {
          float: left;
          width: 100%;
          font-size: 25px;
          padding: 20px 0px 0px 5px;
          border: none;
          outline: none;
          margin-bottom: 5px;
          position: relative;
          z-index: 11;
          background: rgba(0, 0, 0, 0);
        }

        input:focus ~ label {
          color: $black;
          transform: translateY(-30px);
          font-size: 80%;
        }
        input:not(:placeholder-shown) ~ label {
          color: $black;
          transform: translateY(-30px);
          font-size: 80%;
        }
      }

      .forgot {
        margin-top: 20px;
        color: #929292;
        text-align: center;
      }

      .submit {
        margin-top: 40px;
        text-align: center;
        .submit-button {
          padding: 10px 28px;
          font-size: 25px;
        }
      }
    }
  }
  .return {
    text-align: center;
    position: absolute;
    bottom: 30px;
    display: inline-block;
    left: 0px;
    right: 0px;
    margin: 0 auto;

    a {
      color: $black;
      font-size: 25px;
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  #login {
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #login {
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #login {
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #login {
    .container {
      width: 250px;
      height: 370px;
      h2 {
        font-size: 30px;
      }
      form {
        margin-top: 50px;

        .input-field {
          display: table;
          padding: 0px 0px 0px 0px;
          position: relative;
          background: rgba(0, 0, 0, 0);
          width: 100%;
          margin-top: 20px;

          label {
            position: absolute;
            display: block;
            color: #b6b6b6;
            font-size: 20px;
            padding-left: 5px;
            bottom: 10px;
            left: 0px;
            transition: all 0.3s;
            z-index: 10;
          }
          input {
            float: left;
            width: 100%;
            font-size: 20px;
            padding: 20px 0px 0px 5px;
            border: none;
            outline: none;
            margin-bottom: 5px;
            position: relative;
            z-index: 11;
            background: rgba(0, 0, 0, 0);
          }

          input:focus ~ label {
            color: $black;
            transform: translateY(-25px);
            font-size: 80%;
          }
          input:not(:placeholder-shown) ~ label {
            color: $black;
            transform: translateY(-25px);
            font-size: 80%;
          }
        }

        .forgot p {
          font-size: 13px;
        }
        .submit .submit-button {
          padding: 8px 22px;
          font-size: 18px;
        }
      }
    }
    .return a {
      font-size: 16px;
    }
  }
}
