#navbar {
  float: left;
  font-size: 14px;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 40;
  .container {
    background: white;
    color: #919191;
    height: 100%;
    width: 230px;
    transition: all 0.3s;
    h3 {
      color: #464646;
      font-size: 35px;
      padding: 20px;
    }
    nav {
      margin-top: 30px;
      width: 100%;
      ul {
        list-style-type: none;
        li {
          padding: 5px 0px;
          position: relative;
          width: 100%;
        }
        a {
          display: block;
          position: relative;
          width: calc(100% - 45px);
          font-size: 20px;
          color: #464646;
          padding: 15px 20px 15px 25px;
          z-index: 55;
          .active-background {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background: rgba(142, 189, 216, 0.35);
            z-index: 50;
            transition: all 0.3s;
            > div {
              background: #8ebdd8;
              float: right;
              height: 100%;
              width: 10px;
            }
          }

          &.active {
            .active-background {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #burger-menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    z-index: 500;
    cursor: pointer;
    > span {
      display: block;
      width: 30px;
      height: 5px;
      background: grey;
      border-radius: 5px;
    }
    span:nth-of-type(2) {
      margin-top: 5px;
    }
    span:nth-of-type(3) {
      margin-top: 5px;
    }
  }
}

/* ==========================================================================
   SECOND APPROACH - DESKTOP FIRST
   ========================================================================== */

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {
  #navbar {
    h3 {
      color: #464646;
      font-size: 30px;
      padding: 20px 10px;
    }
    .container {
      width: 160px;
      nav {
        margin-top: 20px;
        width: 100%;
        ul {
          list-style-type: none;
          li {
            padding: 5px 0px;
            position: relative;
            width: 100%;
          }
          a {
            display: block;
            position: relative;
            width: calc(100% - 45px);
            font-size: 16px;
            padding: 10px 20px 10px 25px;
            z-index: 55;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #navbar {
    #burger-menu {
      display: block;
    }
    .container.mobile-menu-active {
      width: 160px;
    }
    .container {
      width: 0px;
      overflow: hidden;
      h3 {
        padding: 50px 10px 20px 10px;
      }
    }
  }
}
