#navbar {
  background: white;
  color: #919191;
  float: left;
  font-size: 14px;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 40;
  h3 {
    color: #464646;
    font-size: 40px;
    padding: 10px;
  }
  .container {
    nav {
      margin-top: 30px;
      width: 100%;
      ul {
        list-style-type: none;
        li {
          padding: 10px 0px;
          position: relative;
          width: 100%;
        }
        a {
          display: block;
          position: relative;
          width: calc(100% - 40px);
          font-size: 25px;
          color: #464646;
          padding: 20px;
          z-index: 55;
          .active-background {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background: rgba(142, 189, 216, 0.35);
            z-index: 50;
            transition: all 0.3s;
            > div {
              background: #8ebdd8;
              float: right;
              height: 100%;
              width: 10px;
            }
          }

          &.active {
            .active-background {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
